body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

header {
  text-align: center;
  margin-bottom: 60px;
}

section {
  margin-bottom: 50px;
}

h1 {
  font-size: 36px;
}

h2 {
  color: #500000; /* TAMU maroon */
  margin-bottom: 10px;
}